DJANGO_DEBUG=no
USE_DOCKER=no
DJANGO_SECRET_KEY='3424'
DATABASE_URL=postgres://user:pass@127.0.0.1:5432/mediaify
CELERY_BROKER_URL=redis://localhost:6379/1
# REDIS_URL=redis://redis:6379
USE_S3=no
AWS_ACCESS_KEY_ID='aa'
AWS_SECRET_ACCESS_KEY='bb'
AWS_STORAGE_BUCKET_NAME='django'
AWS_S3_CUSTOM_DOMAIN='s3.amazon.vip'
AWS_S3_ENDPOINT_URL='https://s3.amazon.vip/'
